src/.*
scripts/.*   
data/
bin/
batch_jobs/
output/
results/
roodatasets/
scripts/text/
sensitivityDir/
toysDir/
scripts/presentation_plots/
pdfs/old/
pdfs/temp/
old_batch/
scripts/Makefile.backup
scripts/Makefile.backup2
._batch_submit.sh
test_DD0.txt
systematicsDir/